h1 {
    color: green;
}

p {
    color:red;
}

button {
    color:brown;
}

body {
    background-color:black;
}

button {
    color:brown;
    background-color:green;
}

button {
    color:rgb(97, 165, 42);
    background-color:#03f4fc;
}

* {
    color:blue;
    background-color: white;
}

button {
    color:brown;
}

#headingOne {
    color:yellow;
}

#headingTwo {
    color: chocolate;
}

.myClass {
    color:magenta;
}

/* 1 hr 17.5 mins completed */

/* Text Properties */
p {
    text-align: start;
}

h1 {
    text-align: center;
}

a {
    text-decoration:none;
}

#h1 {
    font-weight:normal;
}

#One {
    font-family:arial;
}

#two {
    font-family: arial, roboto, tahoma;
}

#one {
    font-size:25px;
}

#three {
    font-size:1px;
}

#one {
    font-size: 25px;
    line-height: 2px;
}

#three {
    font-size:10px;
}

#one {
    font-size:25px;
    line-height:normal;
    text-transform:uppercase;
}

/* Level 1 completed - 1 hrs 55 mins */