h1 {
    color: green;
}

p {
    color:red;
}

button {
    color:brown;
}

body {
    background-color:black;
}

button {
    color:brown;
    background-color:green;
}

button {
    color:rgb(97, 165, 42);
    background-color:#03f4fc;
}

* {
    color:blue;
    background-color: white;
}

button {
    color:brown;
}

#headingOne {
    color:yellow;
}

#headingTwo {
    color: chocolate;
}

.myClass {
    color:magenta;
}

/* 1 hr 17.5 mins completed */

/* Text Properties */
p {
    text-align: start;
}

h1 {
    text-align: center;
}

a {
    text-decoration:none;
}

#h1 {
    font-weight:normal;
}

#One {
    font-family:arial;
}

#two {
    font-family: arial, roboto, tahoma;
}

#one {
    font-size:25px;
}

#three {
    font-size:1px;
}

#one {
    font-size: 25px;
    line-height: 2px;
}

#three {
    font-size:10px;
}

#one {
    font-size:25px;
    line-height:normal;
    text-transform:uppercase;
}


/* Level 1 completed - 1 hrs 55 mins */

/* Level 2 - Box Model */
div {
    height:50px;
}

div {
    width:50px;
}

div {
    border-width: 2px;
    border-style: solid;
    border-style: dotted;
    border-style: dashed;
    border-color: black;
}

div {
    border: 2px solid brown;
}

div {
    border-radius: 10px;
    border-radius: 50%;
}

div {
    padding-left: 25px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 4px;
}

div {
    padding: 50px;
}

div {
    padding: 1px 2px 3px 4px;
}

div {
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 4px;
}

div {
    margin: 25px;
}

div {
    margin: 1px 2px 3px 4px;
}


/* 2 hrs 38 mins */

div {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}

#box1 {
    background-color: rgba(0, 0, 255, 0.5);
}

#box2 {
    background-color: rgba(0, 0, 255, 0.75);
}

#box3 {
    background-color: rgba(0, 0, 255, 1);
}


/* Level 2 completed -  */

/* Level 3 - Units in CSS */

div {
    width: 33%;
}

div {
    margin-left: 50%;
}

div {
    font-size: 2em;
}

div {
    font-size: 0.5em
}

div {
    font-size: 5rem
}


#box1 {
    height: 100px;
    width: 100px;
    background-color: green;
}

#box2 {
    height: 50px;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
}


div {
    height: 1vh;
}
div {
    height: 50vh;
}
div {
    height: 100vh;
}

div {
    width: 1vw;
}
div {
    width: 30%;
}
div {
    width: 100vw;
}


#box1 {
    position: static;
}
#box2 {
    position: relative;
    top: 20px;
    left: 10px;
}
#box3 {
    position: sticky;
    position: absolute;
    top: 10px;
    left: 20px;
}

#box4 {
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 100%;
}

#box2 {
    z-index: 1;
}

#box4 {
    z-index: 3;
}

#box3 {
    z-index: -1;
}

#box1 {
    background-image: none;
    background-size: cover;
}

#box2 {
    background-image: url(https://avatars.githubusercontent.com/u/214790707?v=4);
    background-size:contain;
    background-repeat: no-repeat;
}

/* Level 3 finished - 3 hrs 50 mins completed */

/* Level 4 - Flexbox */

#container {
    width: 800px;
    height: 200px;
    display: flex;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}


/* 4hrs 35 mins */

/* Media Queries - Help ceate a responsive website */

div {
    height: 50px;
    width: 50px;
    background-color: pink;
}

@media(width: 600px) {
    div {
        background-color: red;
    }
}

@media(max-width: 600px) {
    div {
        background-color: green;
    }
}

@media(min-width:200px) and (min-width:300px) {
    div {
        background-color: red;
    }
}

/* Level 4 finished  - 4 hrs 47 mins*/

/* Level 5 - Transitions */

div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black
}
div:hover {
    background-color: red;
    color: white;
}
div:active {
    background-color: pink;
}

div:hover {
    background-color: red;
    color: white;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

div:hover {
    transition: all 2s easein 1s;
}



/* 4 hrs 59 mins */
/* CSS Transform - Used to apply 2d & 3D transformations to an element */

div {
    transform: rotate(45 deg);
    transform: rotateX('45 deg');
    transform: rotateY('45 deg');
    transform: rotateZ('45 deg');
}

div {
    transform: scale(2);
    transform: scale(0.5);
    transform: scale(1, 2);

    transform: scaleX(0.5);
    transform: scaleY(0.5);
}

div {
    transform: translate(20px);
    transform: translate(20px, 50px);

    transform:translateX(20px);
    transform: translateY(20px);
}

div {
    transform: skew(30 deg);
}

/* 5 hrs 13 mins */
/* Animations */

/* @keyframe myName {
    from {font-size: 20px;}
    to {font-size: 40px;}
} */


div {
    animation: none;
    animation-name: myName;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

div {
    animation: myName 2s linear 3s infinite normal;
}

/* @keyframe myName {
    0% {font-size: 20px;}
    50% {font-size: 30px;}
    100% {font-size: 40px;}
} */

